<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>p_Title</key>
		<string></string>
		<key>p_Type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string>登录名</string>
		<key>p_Type</key>
		<string>0</string>
		<key>p_PostName</key>
		<string>userId</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string>密码</string>
		<key>p_Type</key>
		<string>6</string>
		<key>p_PostName</key>
		<string>password</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string>重复密码</string>
		<key>p_Type</key>
		<string>6</string>
		<key>p_PostName</key>
		<string>password1</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string>真实姓名</string>
		<key>p_Type</key>
		<string>0</string>
		<key>p_PostName</key>
		<string>userName</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string>医院名</string>
		<key>p_Type</key>
		<string>0</string>
		<key>p_PostName</key>
		<string>laboratory</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string>科室</string>
		<key>p_Type</key>
		<string>0</string>
		<key>p_PostName</key>
		<string>depName</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string>手机号</string>
		<key>p_Type</key>
		<string>0</string>
		<key>p_PostName</key>
		<string>phone</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string>验证码</string>
		<key>p_Type</key>
		<string>0</string>
		<key>p_PostName</key>
		<string>valideCode</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string></string>
		<key>p_Type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string>获取验证码</string>
		<key>p_Type</key>
		<string>99</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string></string>
		<key>p_Type</key>
		<string>5</string>
	</dict>
	<dict>
		<key>p_Title</key>
		<string>提交</string>
		<key>p_Type</key>
		<string>99</string>
	</dict>
</array>
</plist>
